/* Stylesheet by Emily Johansen, Geog 575 Lab 1 */
body{
  background-color:rgb(250, 250, 250)  
}

.topnav{
    background-color:rgb(206, 94, 94);
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
#mapCaption{
    text-align: center;
    font-size: 15px;
    margin-bottom: 80px;
}
#map {
    position: static;
    height: 800px;
    width: 800px;
    margin-top: 10px;
    margin-left: 20%;
    border: solid;
    display: inline-block;
}
#aboutBorder{
    background-color:rgb(206, 94, 94);
    overflow: hidden;
    height: 40px;
    color:white;
    text-align:center;
    font-size: 30px;

}

#chartBorder{
    background-color:rgb(206, 94, 94);
    overflow: hidden;
    height: 40px;
    color:white;
    text-align:center;
    font-size: 30px;

}

#sourceBorder{
    background-color:rgb(206, 94, 94);
    overflow: hidden;
    height: 40px;
    color:white;
    text-align:center;
    font-size: 30px;

}

#sources{
    text-align: center;
}

#aboutInfo {
    background-color: rgb(255, 255, 255);
    width: 70%;
    padding: 5px;
    vertical-align: top;
    text-align: center;
    line-height: 25px;
    margin: auto;
}

.range-slider {
    width: 180px;
}

.sequence-control-container {
    width: 280px;
    height: 40px;
/*    background-color: rgba(255,255,255,0.4);*/
    padding: 10px;
    line-height: 0px;
    text-align: center;
/*    border: solid gray 1px;*/
}


.legend-control-container {
    width: 160px;
    height: 110px;
    background-color: rgba(225,255,238,0.5);
    padding: 10px;
    line-height: 5px;
    text-align: center;
    align-items: right;
    border: solid gray 1px;
}


#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}
